.modal__overlay {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top:0;
	left:0; 
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
	z-index: 1000;
}

.modal__overlay.active {
	opacity: 1;
	pointer-events: all;
}

.modal__content {
	position: relative;
	width: 30%;
	height: 536px;
	background: #FFFFFF;
	border-radius: 24px;
	transform: scale(0.5);
	transition: 0.4s all;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__content.active {
	transform: scale(1);
}

.modal__close {
	position: absolute;
	top:-9px;
	right: -9px;
	width: 40px;
	height: 40px;
	background: #F2F2F2;
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
	cursor:pointer;
	text-align: center;
	border-radius: 50%;

}

.modal__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000000;
}

.modal__body button {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px 103px;
	background: #4BCFA0;
	color: #FFFFFF;
	border-radius: 16px;
	outline: none;
	border: none;
	position: relative;
}
.modal__body button:hover:after {
	content: '→';
	position: absolute;
	top: 15px;
	right: 85px;
	width:10px;
}

@media only screen and (max-width: 991px) {
	.modal__content {
		width: 40%;
	}
}
@media only screen and (max-width: 860px) {
	.modal__content {
		width: 50%;
	}
}
@media only screen and (max-width: 761px) {
	.modal__content {
		width: 60%;
	}
}
@media only screen and (max-width: 480px) {
	.modal__content {
		width: 80%;
	}
	.modal__body button {
		padding: 14px 88px;
	}
	.modal__body button:hover:after {
		top:13px;
		right: 32%;
	}
}